
body{
    margin: 0px 50px;
    padding: 0px;
    background-color: rgb(31, 30, 30);
}

header{
    background-color:rgb(39, 39, 39);
    color: white;
    padding: 20px 150px;
}
h1{
    /* padding-left: 60px;    */
    /* padding-top: 10px;  */
    color:darkgray;
}
/* 
p{
    color: white;
} */

nav{
    background-color: black;
}

ul li{
    display: inline-block;
    padding: 20px;
}

.container{
    background-color: white;
    margin: auto;
    padding: 20px 110px;
}

.img1{
    width: 960px;
    height: 360px;
    background-color:rgb(39, 39, 39);
    text-align: center;
    margin: auto;
}

.img1 span{
  color: white;
  line-height: 360px;
  
}

.textdiv {
    padding: 10px;
    margin:28px;
 background-color: rgb(226, 226, 226);
 color: darkgray;
}


h3{
    margin-left: 30px;
    color: darkgray;
}
.one{
width: 215px;
    height: 315px;
    background-color:rgb(39, 39, 39);
    text-align: center;
    
}
.imagediv{
    display:flex;
    justify-content: space-between;
    margin-left:30px;
    margin-right: 30px;
}

.one span{
    line-height: 315px;
    color:white;
}


.outer{
    background-color: lightgray;
    border:1px solid white;
    padding: 5px;
    text-align: center;
}

hr{
    margin-left:30px;
    margin-right: 30px;
}

 
footer {
    background: rgb(41, 40, 40);
    padding: 20px 110px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  #span1 {
    align-content: flex-start;
  }
   
  #span2 {
    position: relative;
  }
    